############################################################
# Sample Environment Variable Template
# 
# In this template you can describe a form to be displayed to users in the app settings on device or group level.
# Users can enter values into this form that will be mapped to environment variables
# that are passed to the container when it is started.
# The root properties below will be the names of the environment variables.
# When users provide values to this form on device group level, then these will be
# applied to the apps on all devices in this group. This effectively allows users to mass-configure devices.
# This mass-configuration feature can not be provided by your app with an individual web based user-interface.
# 
# Notes:
# - Apps can integrate with other systems like AWS or SAP, ... This usually requires users to provide secret keys
#   to authenticate and authorize access to these systems. To enable users to securely enter these keys
#   you can mark a variable as "secret: true". The user given value will then be masked, 
#   stored securely and will subsequently never be provided to the browser frontend.
# - Values that users provide in the form on device level override settings that users provide on group level.
############################################################

# Notes specific to this app:
# - DEVICE_KEY is injected automatically by the IronFlock platform and does not
#   need to be (and should not be) defined here. ironflock_publisher.py uses it
#   to build the device's remote-access URL.
# - ChirpStack ships with a default admin user "admin" / "admin". Change the
#   password from within the ChirpStack web UI after first login. (There is no
#   environment variable to seed it, so no INITIAL_ADMIN_* fields are exposed.)

APPLICATION_ID:
    label: Application ID
    type: text
    defaultValue:
    description: ID of an Application created in the ChirpStack UI under a tenant. Uplinks from this application are collected into your IronFlock fleet DB. Leave empty to collect from all applications.